<!doctype html>
<html lang="en" ng-app="cvm.main">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Ideation Dashboard</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="/app/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/app/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="/app/cvm/cvmModule.js"></script>
  <script type="text/javascript" src="/app/cvm/cvmRouter.js"></script>
  <script type="text/javascript" src="/app/cvm/controllers/visitControllerMain.js"></script>

  <script type="text/javascript" src="/app/auth/authModule.js"></script>
  <script type="text/javascript" src="/app/auth/userController.js"></script>
  <script type="text/javascript" src="/app/auth/loginDirective.js"></script>
  <script type="text/javascript" src="/app/auth/sessionService.js"></script>
  <script type="text/javascript" src="/app/auth/loginService.js"></script>
  <script type="text/javascript" src="/app/auth/loginController.js"></script>
  <script type="text/javascript" src="/app/auth/loginRouter.js"></script>

<!--Autofill location-->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="/app/cvm/assets/js/ngAutocomplete.js"></script>

 <!--editor-->
 <script src="/app/cvm/assets/js/textAngular.js"></script>
 <!--<script src="/app/cvm/assets/css/font-awesome.min.css"></script>-->
  
<!--Datepicker js and css-->
    <!--css -->
    <link rel="stylesheet" href="/app/cvm/assets/css/daterangepicker.css" />
    <!-- js -->
    <script src="/app/cvm/assets/js/jquery.js"></script>
    <script src="/app/cvm/assets/js/bootstrap.js"></script>
    <script src="/app/cvm/assets/js/moment.js"></script>
    <script src="/app/cvm/assets/js/daterangepicker.js"></script>
    <script src="/app/cvm/assets/js/angular-daterangepicker.js"></script>
<!--Datepicker js and css closed-->

  <link rel="stylesheet" href="/app/assets/styles/main.css" />
  <link rel="stylesheet" href="/app/assets/styles/custom.css" />

</head>

<body>
  <div class="container">
    <!-- Fixed navbar :: Start-->
    <nav class="navbar navbar-default navbar-fixed-top">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CVM</a>
        </div>
        <!-- <div id="navbar" class="collapse navbar-collapse">
          <div ng-include="'/app/partial/menu.html'"></div>
        </div> --><!--/.nav-collapse -->
      
    </nav>
    <!-- Fixed navbar :: End-->

    <!-- application notification area, required for angular-growl-2-->
    <div growl></div>

    <!-- Main Content -->
    <div ui-view></div>

    <!-- Page footer :: Start -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; All rights reserved 2015. Angular seed app: v<span app-version></span></p>
      </div>
    </footer>
  </div>

</body>
</html>