<!DOCTYPE html>
<html ng-app="idea-app">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>

    <link rel="stylesheet" type="text/css" 
      href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" 
      href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.min.js"></script>

    <style type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.css"></style>

    <style>
        .richtext
        {
            width:90%;
            box-shadow:-1px -1px 5px #800000;
            
        }
    </style>

    <script src="/app/app.js"></script>
    <script src="/app/idea/idea.js"></script>
    <script src="/app/idea/ideaControllerMain.js"></script>
    <script src="/app/idea/ideaControllerDetail.js"></script>
    <script src="/app/idea/ideaFactory.js"></script>
    <script src="/app/idea/ideaRouter.js"></script>
  </body>
</html>
