<!DOCTYPE html>
<html ng-app="login-app">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/login/login.js"></script>
    <script src="/app/login/loginController.js"></script>
    <script src="/app/login/loginDirective.js"></script>
    <script src="/app/login/loginService.js"></script>
    <script src="/app/login/loginRouter.js"></script>

    <script src="/app/login/home.js"></script>
    <script src="/app/login/homeController.js"></script>

    <script src="/app/login/sessionService.js"></script>
  </body>
</html>
