<div class="container">

Search: <input type="text" ng-model="search.title">

<table class="table" border="1">
  <thead>
    <tr>
      <th>Title</th>   
      <th>Status</th>      
      <th>Submitted By</th>
      <th>Submitted On</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input class="form-control" ng-model="idea.title"></td>
      <td><input class="form-control" ng-model="idea.status"></td>
      <td><input class="form-control" ng-model="idea.submittedBy"></td>
      <td><input class="form-control" ng-model="idea.postedOn"></td>
      <td rowspan="2">
        <button class="btn btn-primary" ng-click="save()">Add</button>
        <button class="btn btn-info" ng-click="deselect()">Clear</button></td>
    </tr>
    <tr><td colspan="4"><textarea style="width: 100%" ng-model="idea.desc"></textarea></td></tr>
    </tbody></table>

    <table ng-repeat="idea in ideaCollection | filter: search" border="1">
    <tr >
      <td><a href="#/{{idea._id}}">{{idea.title}}</a></td>
      <td>{{idea.status}}</td>
      <td>{{idea.submittedBy}}</td>
      <td>{{idea.postedOn}}</td>
      <td rowspan="2">
        <a class="btn btn-warning" href="#/{{idea._id}}/view">View</a>
        <a href="#/{{idea._id}}">Edit</a>
        <button class="btn btn-danger" ng-click="remove(idea._id)">Remove</button>
      </td>
    </tr>
    <tr><td colspan="4">{{idea.desc}}</td></tr>
</table>

</div>