<!-- Grid filter -->
<div class="form-inline has-feedback filter-header">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
    <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
    <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    <a class="btn btn-default btn-sm pull-right" href="/#/campaign/add">Add New Campaign</a>
</div> <!-- Grid filter ends -->

<table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    <!-- table header -->
    <tr>
      <th>
        <span class="glyphicon glyphicon-th-large"></span>
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a>
      </th>
      <th>
        <span class="glyphicon glyphicon-calendar"></span>
        <a href="" ng-click="orderByField='startDate'; reverseSort = !reverseSort">Start Date</a>
      </th>
      <th>
        <span class="glyphicon glyphicon-calendar"></span>
        <a href="" ng-click="orderByField='endDate'; reverseSort = !reverseSort">End Date</a>
      </th>
      <th class="hidden-xs">
        <span class="glyphicon glyphicon-user"></span>
        <a href="" ng-click="orderByField='sponsor'; reverseSort = !reverseSort">Sponsor</a>
      </th>
      <th class="hidden-xs">
        <span class="glyphicon glyphicon-list-alt"></span>
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Respondants</a>
      </th>
      <th class="hidden-xs">
        <span class="glyphicon glyphicon-dashboard"></span>
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Ideas</a>
      </th>
      <th>&nbsp;</th>
    </tr>

    <!-- table filter -->
    <tr ng-hide="hideFilter">
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.title"></span></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.startDate"></span></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.endDate"></span></th>
      <th class="hidden-xs"><span ng-hide="hideFilter"><input type="text" ng-model="search.sponsor"></span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
    </tr>      

  </thead>

  <tbody class="data-grid-data">
    <tr ng-repeat="campaign in campaignList | filter: search |orderBy:orderByField:reverseSort">
      <td>{{campaign.title}}</td>
      <td>{{campaign.startDate | date:'dd MMM yyyy'}}</td>
      <td>{{campaign.endDate | date:'dd MMM yyyy'}}</td>
      <td class="hidden-xs">{{campaign.sponsor}}</td>
      <td class="hidden-xs">ToBeDefined</td>
      <td class="hidden-xs">ToBeDefined</td>
      <td>
        <a class="table-btn" href="#/campaign/{{campaign._id}}/show"><span class="glyphicon glyphicon-eye-open" /></a>
        <a class="table-btn" href="#/campaign/{{campaign._id}}/edit"><span class="glyphicon glyphicon-edit" /></a>
        <a class="table-btn" ng-click="delete(campaign)"><span class="glyphicon glyphicon-trash" /></i></a>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div ng-controller="campaignControllerMain">
<table class="table boldtable table-responsive table-bordered table-hover">
    <thead class="data-grid-header">
      <tr>
        <th><span class="glyphicon glyphicon-list-alt"></span>
          <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a>
        <br> <div class="dropdown">
         <span class="caret" data-toggle="dropdown"></span>
  <ul class="dropdown-menu">
    <li><a href="" ng-click="orderByField='title'"><span class="glyphicon glyphicon-sort-by-alphabet">Sort Ascending</a></li>
    <li> <a href="" ng-click="reverseSort = !reverseSort"> <span class="glyphicon glyphicon-sort-by-alphabet-alt">Sort Descending</a></li>
    <li><a href="" ng-click="orderByField='!title'"><span class="glyphicon glyphicon-remove-sign">Remove Sort</a></li>
 </ul>
</div>
       </th>
        <th><span class="glyphicon glyphicon-calendar"></span><a href="" ng-click="orderByField='startDate'; reverseSort = !reverseSort"> Start Date</th>
        <th><span class="glyphicon glyphicon-calendar"></span><a href="" ng-click="orderByField='endDate'; reverseSort = !reverseSort"> End Date</th>
        <th><span class="glyphicon glyphicon-user"></span><a href="" ng-click="orderByField='sponsor'; reverseSort = !reverseSort"> Sponsor</th>
        <th><span class="glyphicon glyphicon-eye-open"></span> Respondents</th>
        <th><span class="glyphicon glyphicon-info-sign"></span> Ideas</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th><input type="text" ng-model="search.title"></th>
        <th><input type="text" ng-model="search.startDate"></th>
        <th><input type="text" ng-model="search.endDate"></th>
        <th><input type="text" ng-model="search.sponsor"></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="data-grid-data">
      <tr ng-repeat="campaign in campaignList | filter: search |orderBy:orderByField:reverseSort">
          
        <td>
          <i class="fa fa-check"></i>&nbsp;
          <a ng-show="!editing[$index]" href="#/campaign/{{campaign._id}}/show">{{campaign.title}}</a>
        </td>
        <td>{{campaign.startDate | date:'dd MMM yyyy'}}</td>
        <td>{{campaign.endDate | date:'dd MMM yyyy'}}</td>
        <td>{{campaign.sponsor}}</td>
        <td>TBD</td>
        <td><i class="fa fa-eye"></td>
        <td>
          <a href="#/campaign/{{campaign._id}}/show"><i class="fa fa-eye"></i></a>&nbsp;
          <a href="#/campaign/{{campaign._id}}/edit"><i class="fa fa-edit"></i></a>&nbsp;
          <a href="#/campaign/{{campaign._id}}/delete" ng-click="delete(campaign._id)"><i class="fa fa-trash"></i></a>
    
        </td>

      </tr>
     <tr>{{campaignList.length}}total</tr>

     </tbody>
     <button ng-hide="offset == 0" ng-click="previous()"><<</button>
        <span ng-repeat="i in navButtons">
            <span ng-class="$parent.offset == i * $parent.perPage && 'active'" class="button" ng-click="$parent.offset = (i * $parent.perPage)">{{i+1}}</span>
        </span>
        <button ng-hide="offset + perPage >= allData.length" ng-click="next()">>></button>
</div>

 -->