<link rel="stylesheet" type="text/css" href="/app/assets/styles/custom.css">


<div class="sidepanel-campaigns" ng-controller="campaignPanelController">

  <div class="form-inline has-feedback filter-header">
      <input type="text" class="form-control" placeholder="Search"  ng-model="search.$"/>
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
<!--       <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
<button class="btn btn-default btn-sm pull-right" ng-click="addRecord()"> Add New User</button> -->
  </div>


Campaigns list
  <div class="sidepanel-campaign" ng-repeat="campaign in campaigns | filter: search |orderBy:orderByField:reverseSort">
    <div class="text-big">
      <a href="#/campaign/{{campaign._id}}/show">{{campaign.title}}</a>
    </div>
    <div class="text-small">
      {{campaign.startDate | date:'dd MMM yyyy'}} - {{campaign.endDate | date:'dd MMM yyyy'}}
    </div>
    <div class="text-desc">{{campaign.objective}}</div>
  </div>

<!-- <table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    table header
    <tr>
      <th>
        <a href="" ng-click="orderByField='handle'; reverseSort = !reverseSort">Title</a>
      </th>
      <th>
        <a href="" ng-click="orderByField='firstName'; reverseSort = !reverseSort">Start Date</a>
      </th>
      <th>
        <a href="" ng-click="orderByField='lastName'; reverseSort = !reverseSort">End Date</a>
      </th>
    </tr>

  <tbody class="data-grid-data">
    <tr ng-repeat="campaign in campaigns | filter: search |orderBy:orderByField:reverseSort">
      <td>{{campaign.title}}</td>
      <td>{{campaign.startDate}}</td>
      <td>{{campaign.endDate}}</td>
    </tr>
  </tbody>
</table> -->

</div>