 <div ng-controller='visitControllerMain'>
 <div class="form-heading"><b><h1>Client visite mangement</h1></b></div><hr>
    <div class="container data-form">
<br><br>
        <form class="form-horizontal" id="visitForm" name="visitForm" novalidate>

            <!--visitOrganization-->
            <div class="form-group" ng-class="{ 'has-error': visitForm.visitOrganization.$touched && visitForm.visitOrganization.$invalid }">
                <label class="col-md-4 control-label">visitOrganization</label>  
                <div class="col-md-4">
                    <div class="input-group">
                       <input type="text" size="45" id="Autocomplete" class="form-control" ng-autocomplete="result1" name="visitOrganization" id="visitOrganization" 
                        placeholder="Enter the location" class="form-title form-control" 
                        ng-model="visit.visitOrganization" ng-minlength="1" ng-maxlength="5000" required>
                        <div class="help-block" ng-messages="visitForm.visitOrganization.$error" ng-if="visitForm.visitOrganization.$touched">
                        <div ng-messages-include="/app/partial/messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>

        <!--visitAgenda-->          
        <div class="form-group" ng-class="{ 'has-error': visitForm.visitAgenda.$touched && visitForm.visitAgenda.$invalid }">
                <label class="col-md-4 control-label">visitAgenda </label>  
                <div class="col-md-4">
                    <div class="input-group">
                        <div text-angular ng-model="visit.visitAgenda" name="visitAgenda"  placeholder="please click toggle html first and proceed"></div>
                          <div class="help-block" ng-messages="visitForm.visitAgenda.$error" ng-if="visitForm.visitAgenda.$touched">
                            <div ng-messages-include="/app/partial/messages.html"></div>
                          </div>
                    </div>
                </div>
            </div>
            <!--accountManager-->
            <div class="form-group" ng-class="{ 'has-error': visitForm.accountManager.$touched && visitForm.accountManager.$invalid }">
                <label class="col-md-4 control-label">accountManager </label>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="email" size="45" name="accountManager" id="accountManager" 
                        placeholder="agm@gmail.com" class="form-title form-control" 
                        ng-model="visit.accountManager" ng-minlength="1" ng-maxlength="75" required>
                         <div class="help-block" ng-messages="visitForm.accountManager.$error" ng-if="visitForm.accountManager.$touched">
                         <div ng-messages-include="/app/partial/messages.html"></div>
                          </div>
                    </div>
                </div>
            </div>

        <!--visitCoordinator-->
        <div class="form-group" ng-class="{ 'has-error': visitForm.visitCoordinator.$touched && visitForm.visitCoordinator.$invalid }">
                <label class="col-md-4 control-label">visitCoordinator </label>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="email" size="45" name="visitCoordinator" id="visitCoordinator" 
                        placeholder="agm@gmail.com" class="form-title form-control" 
                        ng-model="visit.visitCoordinator" ng-minlength="1" ng-maxlength="75" required>
                          <div class="help-block" ng-messages="visitForm.visitCoordinator.$error" ng-if="visitForm.visitCoordinator.$touched">
                            <div ng-messages-include="/app/partial/messages.html"></div>
                          </div>
                    </div>
                </div>
            </div>
<br><br>


<div ng-include src="'/app/cvm/templates/schedule.html'"></div>
<div ng-include src="'/app/cvm/templates/numVisitors.html'"></div>


 <br><br>
 	<button class="btn btn-primary" ng-click="addvisit()">Add visitor</button>
 	<button class="btn btn-warning" ng-click="clear()">Clear</button>
  <button class="btn btn-info" ng-click="update()">Update</button>

</form>
 </div> 

<br><br>
	<table class="table boldtable table-responsive table-bordered table-hover"  width="100" >  
	<thead class="data-grid-header">
      <tr>
        <th>visitOrganization</th>
        <th>accountManager</th>
        <th>visitCoordinator</th>
        <th>visit Agenda</th>
        
        <th>Action</th>
        
      </tr>
	</thead> 
    <tbody class="data-grid-data">
	<tr  ng-repeat="visit in visitList">
    <td>{{visit.visitOrganization}}</td> 
 		<td>{{visit.accountManager}}</td>
 		<td>{{visit.visitCoordinator}}</td>
    <td>{{visit.visitAgenda}}</td>
    
 		

     	<td><a class="table-btn" ng-click="remove(visit._id)"><span class="glyphicon glyphicon-trash" /></a>
     	<a class="table-btn" ng-click="edit(visit._id)"><span class="glyphicon glyphicon-edit" /></a></td>
      

	</tr>
	</tbody>
	</table>

   </div>