/* Custom styles for the application defined here */

.page-header
{
  font-family: verdana, arial !important; 
  font-size: 20px !important;
  font-weight: bold !important;
}

.sub-header
{
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}


.filter-header
{
  width: 100%;
  margin: 10px 10px 10px 0px;
}

table.table
{
  border: none;
  border-spacing: 2px;
  border-collapse: collapse;
}

table.table td, table.table th
{
    padding: 0; /* 'cellpadding' equivalent */
}

table.table tr th
{
  background-color:#6495ce !important; 
  font-color:white !important;
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: bold !important;
}

table.table tr th a
{
  color: #ecf2f9;
}

table.table tr td
{
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #ecf2f8;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}

.table-btn:hover
{
  cursor: pointer; cursor: hand; 
}

.table-btn:hover .glyphicon {
    font-size: 14px;
    color:red;
}

.table-btn .glyphicon {
    font-size: 14px;
    color:gray;
}

.text-big{
  font-size: 16px;
  font-weight: normal !important;
  color:black;
}

.text-medium{
  font-size: 14x;
  color:black;
}

.text-small{
  font-size: 12px;
  color:black;
}

.text-desc{
  font-size: 11px;
  font-style: italic;
  color:black;
}

.sidepanel-title{
  font-size: 20px !important;
  font-weight: bold !important;
  display: inline !important;
  color:white;
}

.sidepanel-title:hover
{
  cursor: pointer; cursor: hand;
  text-decoration: none;
  color:white;
}

.sidepanel-campaigns{
  color:white;
  display: inline;
}

#sidebar-wrapper{
  background-color:#407fbf;
}
.sidebar{
  background-color:#336699;
}
.sidepanel-campaign{
    /* border-radius: 5px; */
    border: 1px solid #c6d9ec;
    padding: 3px;
    background-color:#c6d9ec;
    margin: 3px 2px 2px 2px;
}

.sidepanel-campaign:hover{
    background-color:#ecf2f9;
    cursor: pointer; cursor: hand;
}

.sidepanel-campaign-row :nth-child(odd){
  background-color:red;
}
.sidepanel-campaign-row :nth-child(even){
  background-color:green;
}
