.glyphicon.glyphicon-arrow-up {
    font-size: 40px;
}
 .glyphicon.glyphicon-arrow-down {
    font-size: 40px;
}
.maintitle{
	font-family: "verdana";
}

.subtitle{
		font-family: "verdana";
		font-size:20px;

}
p{
	font-family: "verdana";

}
table{
	font-family: "verdana";

}
.row{
	font-family: "verdana"
}