<link rel="stylesheet" src="/app/assets/styles/menu.css" />

<!-- activity menu being -->
<ul class="nav navbar-nav">
  <li class="active"><a href="#/dashboard">Dashboard</a></li>
  <li><a href="#/campaigns">Campaigns</a></li>
  <li><a href="#/campaigns/add"><i class="fa fa-plus"></i></a></li>
  <li><a href="#/ideas">Ideas</a></li>
  <li><a href="#/ideas/add"><i class="fa fa-plus"></i></a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#/admin/groups">Groups</a></li>
      <li><a href="#/admin/users">Users</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Customize</li>
      <li><a href="#/customize/idea">Idea Templates</a></li>
      <li><a href="#/customize/workflow">Workflow</a></li>
    </ul>
  </li>
</ul>
<!-- activity menu end -->

<!-- right menu begin -->

<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="#/">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#faqs">FAQs</a></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bell-o"></i><span class="badge">15</span><span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Nav header</li>
      <li><a href="#">Separated link</a></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </li>

  <li class="user dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i>
      <!--<img class="avatar" src="/app/assets/img/avatar.jpg" />-->
      Profile<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
          <li class="dropdown-header">
            Sankar Vema
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Profile
            </a>
          </li>
          <li class="link">
            <a href="#">
              Change Password
            </a>
          </li>
          <li class="link">
            <a href="#">
              Preferences
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              Logout
            </a>
          </li>
    </ul>
  </li>
</ul>

<!-- right menu end-->