<style>
.page-header{
  font: normal normal bold 20px/normal Verdana, Geneva, sans-serif;
  color: rgba(96,93,93,0.9);
  text-indent: 10px;
}
.data-grid{
    font: normal normal bold 8px/normal Verdana, Geneva, sans-serif;
}

.data-grid-header{
  border: none;
  font: normal normal bold 12px/normal Verdana, Geneva, sans-serif;
  color: rgba(96,93,93,0.9);
  text-indent: 10px;
}

.data-grid-data{
  border: none;
  font: normal normal 12px/normal Verdana, Geneva, sans-serif;
  color: rgba(96,93,93,0.9);
  text-indent: 10px;
}

</style>

<div class="container" ng-controller="campaignControllerMain">

<!--Search: <input type="text" ng-model="search.title">

<table class="table">
  <thead>
    <tr>
      <th>Title</th>         
      <th>Start Date</th>
      <th>End Date</th>
      <th>sponsor</th>
      <th>Desc</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input class="form-control" ng-model="campaign.title"></td>
      <td><input class="form-control" ng-model="campaign.startDate"></td>
      <td><input class="form-control" ng-model="campaign.endDate"></td>
      <td><input class="form-control" ng-model="campaign.sponsor"></td>
      <td><textarea ng-model="campaign.desc"></textarea></td>
      <td>
        <button class="btn btn-primary" ng-click="create()">Add Contact</button>
        <button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;
        <button class="btn btn-info" ng-click="deselect()">Clear</button></td>
    </tr>
    <tr ng-repeat="campaign in campaignList | filter: search">
      <td><a ng-show="!editing[$index]" href="#/{{campaign._id}}">{{campaign.title}}</a></td>
      <td>{{campaign.startDate}}</td>
      <td>{{campaign.endDate}}</td>
      <td>{{campaign.sponsor}}</td>
      <td>{{campaign.desc}}</td>
      <td>
        <a ng-show="!editing[$index]" href="#/{{campaign._id}}/view">View</a>
        <button class="btn btn-warning" ng-click="edit(campaign._id)">Edit</button>
        <button class="btn btn-danger" ng-click="remove(campaign._id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br/>
<h2>Model 2 data show</h2>
<br/>

<ul>
  <li ng-repeat="campaign in campaignCollection | filter: search">
    <a ng-show="!editing[$index]" href="#/{{campaign._id}}">{{campaign.title}}</a>
    | {{campaign.desc}}
    | {{campaign.startDate}}
    | {{campaign.endDate}}
    | {{campaign.sponsor}}
    <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
    <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

    <input ng-show="editing[$index]" type="text" ng-model="campaign.title">
    <button ng-show="editing[$index]" ng-click="update($index)">update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
  </li>
</ul>
New campaign <input type="text" ng-model="newCampaign"><button ng-click="save()">Create</button>-->

<div class="container">
  <div class="page-header">List of campaigns</div>
  <div class="input-group"> 
    <span >
      <a href="/#/campaign/add"><i class="fa fa-plus"></i>&nbsp;Add Campaign</a>
      </span>
    
    <input type="text" ng-model="search.title">
    <span class="input-group-addon">Search</span>
  </div>    

  <div class="table-responsive data-grid">          
   
  <table class="table boldtable table-responsive table-bordered table-hover" >
    <thead class="data-grid-header">
      <tr>
        <th><span class="glyphicon glyphicon-list-alt"></span> Title</th>
        <th><span class="glyphicon glyphicon-calendar"></span> Start Date</th>
        <th><span class="glyphicon glyphicon-calendar"></span> End Date</th>
        <th><span class="glyphicon glyphicon-user"></span> Sponsor</th>
        <th><span class="glyphicon glyphicon-eye-open"></span> Respondents</th>
        <th><span class="glyphicon glyphicon-info-sign"></span> Ideas</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="data-grid-data">
      <tr ng-repeat="campaign in campaignList | filter: search">
          
        <td>
          <i class="fa fa-check"></i>&nbsp;
          <a ng-show="!editing[$index]" href="#/campaign/{{campaign._id}}/show">{{campaign.title}}</a>
        </td>
        <td>{{campaign.startDate | date:'dd MMM yyyy'}}</td>
        <td>{{campaign.endDate | date:'dd MMM yyyy'}}</td>
        <td>{{campaign.sponsor}}</td>
        <td>TBD</td>
        <td><i class="fa fa-eye"></td>
        <td>
          <a href="#/campaign/{{campaign._id}}/show"><i class="fa fa-eye"></i></a>&nbsp;
          <a href="#/campaign/{{campaign._id}}/edit"><i class="fa fa-edit"></i></a>&nbsp;
          <a href="#/campaign/{{campaign._id}}/delete" ng-click="delete(campaign._id)"><i class="fa fa-trash"></i></a>
    
        </td>
      </tr>
     
    </tbody>
  </table>
  </div>
  </div>
</div>

