<div class="container" ng-controller="campaignControllerMain">

<!--Search: <input type="text" ng-model="search.title">

<table class="table">
  <thead>
    <tr>
      <th>Title</th>         
      <th>Start Date</th>
      <th>End Date</th>
      <th>sponsor</th>
      <th>Desc</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input class="form-control" ng-model="campaign.title"></td>
      <td><input class="form-control" ng-model="campaign.startDate"></td>
      <td><input class="form-control" ng-model="campaign.endDate"></td>
      <td><input class="form-control" ng-model="campaign.sponsor"></td>
      <td><textarea ng-model="campaign.desc"></textarea></td>
      <td>
        <button class="btn btn-primary" ng-click="create()">Add Contact</button>
        <button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;
        <button class="btn btn-info" ng-click="deselect()">Clear</button></td>
    </tr>
    <tr ng-repeat="campaign in campaignList | filter: search">
      <td><a ng-show="!editing[$index]" href="#/{{campaign._id}}">{{campaign.title}}</a></td>
      <td>{{campaign.startDate}}</td>
      <td>{{campaign.endDate}}</td>
      <td>{{campaign.sponsor}}</td>
      <td>{{campaign.desc}}</td>
      <td>
        <a ng-show="!editing[$index]" href="#/{{campaign._id}}/view">View</a>
        <button class="btn btn-warning" ng-click="edit(campaign._id)">Edit</button>
        <button class="btn btn-danger" ng-click="remove(campaign._id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<br/>
<h2>Model 2 data show</h2>
<br/>

<ul>
  <li ng-repeat="campaign in campaignCollection | filter: search">
    <a ng-show="!editing[$index]" href="#/{{campaign._id}}">{{campaign.title}}</a>
    | {{campaign.desc}}
    | {{campaign.startDate}}
    | {{campaign.endDate}}
    | {{campaign.sponsor}}
    <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
    <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

    <input ng-show="editing[$index]" type="text" ng-model="campaign.title">
    <button ng-show="editing[$index]" ng-click="update($index)">update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
  </li>
</ul>
New campaign <input type="text" ng-model="newCampaign"><button ng-click="save()">Create</button>-->

<div class="container">
  <h2>Basic Table</h2>
  <div class="input-group"> <span class="input-group-addon">Search</span>

    <input id="filter" type="text" class="form-control" placeholder="Type here...">
    
  </div>    
  <div class="table-responsive">          
   
  <table id="usertable" class="table boldtable table-responsive table-bordered table-hover" >
    <thead>
      <tr style="background-color: #D1E1E1;">
        <th><span class="glyphicon glyphicon-list-alt"></span> Title</th>
        <th><span class="glyphicon glyphicon-calendar"></span> Start Date</th>
        <th><span class="glyphicon glyphicon-calendar"></span> End Date</th>
        <th><span class="glyphicon glyphicon-user"></span> Sponsor</th>
        <th><span class="glyphicon glyphicon-eye-open"></span> Respondents</th>
        <th><span class="glyphicon glyphicon-info-sign"></span> Ideas</th>
      </tr>
    </thead>
    <tbody class="searchable">
      <tr>
          
        <td><i class="fa fa-check"></i>AT&T</td>
        <td>4/11/2015</td>
        <td>6/11/2015</td>
        <td>CSC</td>
        <td>Res1</td>
        <td>Idea1</td>
    <tr>
       <td colspan="6">
       AT&T Description
     <p>hii this descriptionnnnnnnn</p>
     </td>
      </tr> 
      </tr>
     
      
      <tr>
        <td>Zurich</td>
        <td>af4/11/2015</td>
        <td>6afa/11/2015</td>
        <td>CafSC</td>
        <td>Rafes1</td>
        <td>fa</td>
        <tr>
       <td colspan="6">
       Zurich Description
     <p>hii asdthis descriptionnnnnnnn</p>
     </td>
      </tr>
      </tr>
      
      
      <tr>
        <td>Title3</td>
        <td>af4/11/2015</td>
        <td>6afa/11/2015</td>
        <td>CafSC</td>
        <td>Rafes1</td>
        <td>fa</td>
         <tr>
       <td colspan="6">
       Title3 Description
     <p>hii asdthis descriptionnnnnnnn</p>
     </td>
        </tr>
     
      </tr>
      
        <tr>
        <td>sg&T</td>
        <td>af4/11/2015</td>
        <td>6afa/11/2015</td>
        <td>CafSC</td>
        <td>Rafes1</td>
        <td>fa</td>
        <tr>
       <td colspan="6">
       sg&T Description
     <p>hii asdthis descriptionnnnnnnn</p>
     </td>
      </tr>
    
      </tr>
     
      <tr>
        <td>abc</td>
        <td>af4/11/2015</td>
        <td>6afa/11/2015</td>
        <td>CafSC</td>
        <td>Rafes1</td>
        <td>fa</td>
        <tr>
        <td colspan="6">
        abc Description
      <p>hii asdthis descriptionnnnnnnn</p>
      </td>
        </tr>
        
      </tr>
       
       <tr>
        <td>sg&T</td>
        <td>af4/11/2015</td>
        <td>6afa/11/2015</td>
        <td>CafSC</td>
        <td>Rafes1</td>
        <td>fa</td>
         <tr>
       <td colspan="6">
       Description
     <p>hii asdthis descriptionnnnnnnn</p>
     </td>
      </tr>
        
      </tr>
      
     
    </tbody>
  </table>
  </div>
  </div>
</div>

