<link href="/app/assets/styles/formElements.css" rel="stylesheet"/>
<link href="/app/assets/styles/loginStyles.css" rel="stylesheet"/>


<!-- Top content -->
<div class="top-content">
	
    <div class="inner-bg">
        <div class="container">
<!--             <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong>Ideation</strong> Registration Form</h1>
        <div class="description">
            <p>
                Please register with your CSC short Id...
            </p>
        </div>
    </div>
</div> -->
            <div class="row">
            	<div class="col-sm-6 book">
            		<img src="assets/img/side-banner.png" alt="">
            	</div>
                <div class="col-sm-5 form-box">
                	<div class="form-top">
                		<div class="form-top-left">
                			<h3>Get access to Ideation!</h3>
                    		<p>Fill in registration details:</p>
                		</div>
                		<div class="form-top-right">
                			<i class="fa fa-pencil"></i>
                		</div>
                    </div>
                    <div class="form-bottom">
	                    <form role="form" action="" method="post" class="registration-form">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-first-name">First name</label>
	                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="user.firstname">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-last-name">Last name</label>
	                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="user.lastname">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-email">Email</label>
	                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="user.handle">
	                        </div>
	                        <button type="submit" class="btn" ng-click="create()">Give me access!</button>
	                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
