.page-header
{
  font-family: verdana, arial !important; 
  font-size: 20px !important;
  font-weight: bold !important;
}

.sub-header
{
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}


.filter-header
{
  width: 100%;
  margin: 10px 10px 10px 0px;
}

table.table
{
  border: none;
  border-spacing: 2px;
  border-collapse: collapse;
}

table.table td, table.table th
{
    padding: 0; /* 'cellpadding' equivalent */
}

table.table tr th
{
  background-color:#6495ce !important; 
  font-color:white !important;
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: bold !important;
}

table.table tr th a
{
  color: #ecf2f9;
}

table.table tr td
{
  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #ecf2f8;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}

.table-btn:hover
{
  cursor: pointer; cursor: hand; 
}

.table-btn:hover .glyphicon {
    font-size: 14px;
    color:red;
}

.table-btn .glyphicon {
    font-size: 14px;
    color:gray;
}

