<div class="container">

<div class="page-header">
  User Management
  <div class="sub-header">Manage application users
  </div>
</div>

<div class="form-inline has-feedback filter-header">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
    <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
    <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    <button class="btn btn-default btn-sm pull-right" ng-click="addRecord()"> Add New User</button>
</div>

<!-- <div class="filter-header">
  <span class = "input-group input-group-sm">
     <span class = "input-group-addon glyphicon glyphicon-search">Search </span>
     <input type = "text" class ="" ng-model="search.$">
     <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
  </span>

Search
    <input type="text" ng-model="search.$">
    <a class="btn glyphicon glyphicon-search" ng-click="hideFilter=!hideFilter"></a>
  
</div> -->

<table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    <!-- table header -->
    <tr>
      <th>
        <a href="" ng-click="orderByField='handle'; reverseSort = !reverseSort">ShortId</a>
      </th>
      <th>
        <a href="" ng-click="orderByField='firstName'; reverseSort = !reverseSort">First Name</a>
      </th>
      <th>
        <a href="" ng-click="orderByField='lastName'; reverseSort = !reverseSort">Last Name</a>
      </th>
      <th class="hidden-xs">
        <a href="" ng-click="orderByField='contactNo'; reverseSort = !reverseSort">Contact No</a>
      </th>
      <th>&nbsp;</th>
    </tr>

    <!-- table filter -->
    <tr ng-hide="hideFilter">
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.handle"></span></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.firstName"></span></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.lastName"></span></th>
      <th  class="hidden-xs"><span ng-hide="hideFilter"><input type="text" ng-model="search.contactNo"></span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
    </tr>      

    <!-- table add new record template -->
    <tr ng-hide="hideAddRow">
      <td><span ng-hide="hideAddRow"><input type="text" ng-model="user.handle"></span></td>
      <td><span ng-hide="hideAddRow"><input type="text" ng-model="user.firstname"></span></td>
      <td><span ng-hide="hideAddRow"><input type="text" ng-model="user.lastname"></span></td>
      <td  class="hidden-xs"><span ng-hide="hideAddRow"><input type="text" ng-model="user.contactNo"></span></td>
      <td>
        <span ng-hide="hideAddRow">
          <a class="table-btn" ng-click="save()"><span class="glyphicon glyphicon-ok"/></a>
          <a class="table-btn" ng-click="deselect()"><span class="glyphicon glyphicon-remove"/></a>
        </span>
      </td>
    </tr>
  </thead>


  <tbody class="data-grid-data">
    <tr ng-repeat="user in userlist | filter: search |orderBy:orderByField:reverseSort">
      <td>{{user.handle}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td class="hidden-xs">{{user.contactNo}}</td>
      <td>
        <a class="table-btn" ng-click="edit(user._id)"><span class="glyphicon glyphicon-edit" /></a>
        <a class="table-btn" ng-click="remove(user._id)"><span class="glyphicon glyphicon-trash" /></a>
      </td>
    </tr>
  </tbody>
</table>

</div> <!-- end of container -->